# Introduction
What's the last school shooting you remember? If you're on top of your news, then you'll know it was the Pleasantville, New Jersey shooting, a little over a week ago (from the time this was written). 
Do you remember the details, though?
Probably not.

What about the shooting the day right before Pleasantville? Or the two in October?
The problem is clear: school shootings are a regular occurrence and it's hard to keep track of them all, let alone the details of each one.
In fact, according to Wikipedia, there were 64 US school shootings from 2000-2009, 87 from 2010-2014, and 113 from 2015-November 2019. 
If these numbers seem lower than you expected, remember that these are ONLY school shootings, not mass shootings. The numbers there are staggering: 2,138 since 2013, roughly one a day. The number changes a bit depending on how you define a mass shooting, but either way the point remains: the number of shootings that occur in the U.S. is unacceptably high.

For this project we want to focus on school shootings, as the definition of school shooting is much more clearly defined and can be analyzed easier with a smaller timeframe. Our goal is to find causes of the spike in shootings, especially in the past decade.
It's important to note that none of us want to push any sort of policy or idea or agenda here: we want to stay as neutral as possible.

        
# Installation


# References
https://en.wikipedia.org/wiki/List_of_school_shootings_in_the_United_States
https://en.wikipedia.org/wiki/Mass_shootings_in_the_United_States
https://en.wikipedia.org/wiki/List_of_school_shootings_in_the_United_States_(before_2000)#20th_century
https://en.wikipedia.org/wiki/List_of_unsuccessful_attacks_related_to_schools

## Beginning our Analysis
Our goal is to figure out significant school shootings by getting compiled data from Wikipedia and recording certain characteristics about that specific event. With those characteristics, we want to scrape various data sources, such as Fox News, CNN, etc, and see if characteristics of the shooting affect the amount that it is reported among various source.
We recognize that because we have a very small dataset that we may not be able to come up with any significant conclusions, but we believe that it is a start to making steps towards doing so in identifying these reporting patterns.

In [107]:
import pandas as pd
import requests as rq
import numpy as np
import re
from datetime import datetime
from bs4 import BeautifulSoup

In [96]:
def makeDF(header, body):
    sol = pd.DataFrame.from_records(body)
    sol.columns = header
    return sol

def parseWiki(url):
    school_shooting_url = rq.get(url).text
    soup = BeautifulSoup(school_shooting_url)
    soup.prettify()
    # sortable wikitable is what wikipedia has their tables called
    tables = soup.find_all("table",{"class":"sortable wikitable"})
    header = []
    body = []
    # wikipedia separates by year chunks so we iterate through
    for table in tables:
        for row in table.find_all("tr"):
            temp = []
            if not header:
                for h in row.find_all("th"):
                    header.append(h.get_text().rstrip())
            for col in row.find_all("td"):
                cur = col.get_text()
                # want to get rid of wiki references
                cur = re.sub(r'\[.*\]', '', cur)
                cur = cur.replace("\n", " ")
                noline = cur.rstrip()
                temp.append(noline)
            body.append(temp)
    # the first is the header, so we take it out
    return header, body[1:]

header, body = parseWiki("https://en.wikipedia.org/wiki/List_of_school_shootings_in_the_United_States")
makeDF(header, body)

,Date,Location,Deaths,Injuries,Description
0,"February 29, 2000","Flint, Michigan",1,0,Shooting of Kayla Rolland: At Buell Elementary...
1,"May 26, 2000","Lake Worth, Florida",1,0,"13-year-old honor student, Nathaniel Brazill, ..."
2,"June 28, 2000","Seattle, Washington",2,0,58-year-old Director of the Division of Pathol...
3,"August 28, 2000","Fayetteville, Arkansas",2,0,"36-year-old James Easton Kelly, a PhD candidat..."
4,"September 26, 2000","New Orleans, Louisiana",0,2,"13 year-olds Darrel Johnson, and Alfred Anders..."
5,"December 1, 2000","San Diego, California",0,1,A 15-year-old Junipero Serra High School stude...
6,"March 5, 2001","Santee, California",2,13,Santana High School shooting: 15-year-old stud...
7,"March 7, 2001","Williamsport, Pennsylvania",0,1,"14-year-old student, Elizabeth Catherine Bush,..."
8,"May 16, 2001","Parkland, Washington",2,0,40-year-old music instructor and organist Jame...
9,"March 22, 2001","El Cajon, California",0,5,"18-year-old former student, Jason Hoffman, ope..."
10,"March 30, 2001","Gary, Indiana",1,0,"17-year-old Donald Ray Burt Jr., fatally shot ..."
11,"January 15, 2002","New York City, New York",0,2,"17-year-old Vincent Rodriguez, wounded two stu..."
12,"January 16, 2002","Grundy, Virginia",3,3,Appalachian School of Law shooting: Recently d...
13,"February 20, 2002","Milwaukee, Wisconsin",1,0,"16-year-old Washington High School student, Jo..."
14,"October 7, 2002","Bowie, Maryland",0,1,"In the Beltway sniper attacks, one victim of s..."
15,"October 28, 2002","Tucson, Arizona",4,0,Failing nursing college student and Gulf War v...
16,"October 29, 2002","Jersey City, New Jersey",0,1,A 15-year-old student was shot in the abdomen ...
17,"April 14, 2003","New Orleans, Louisiana",1,3,John McDonogh High School shooting. 18-year-ol...
18,"April 24, 2003","Red Lion, Pennsylvania",2,0,"14-year-old student James Sheets, entered Red ..."
19,"May 9, 2003","Cleveland, Ohio",1,2,"On May 9, 2003, Biswanath Halder, a 62-year-ol..."
20,"September 24, 2003","Cold Spring, Minnesota",2,0,Rocori High School shooting: 15-year-old John ...
21,"February 2, 2004","Washington, D.C.",1,0,Thomas J. Boykin was acquitted of the murder o...
22,"February 9, 2004","East Greenbush, New York",0,1,"Jon W. Romano in East Greenbush, New York fire..."
23,"May 7, 2004","Randallstown, Maryland",0,4,Two students were charged with a school shooti...
24,"February 8, 2005","Chicago, Illinois",0,1,An 18-year-old student at Bowen High School wa...
25,"March 2, 2005","Dover, Tennessee",1,0,"14-year-old Jason Clinard, killed his bus driv..."
26,"March 21, 2005","Red Lake, Minnesota",10,7,Red Lake shootings: 16-year-old student Jeffre...
27,"September 13, 2005","Chicago, Illinois",0,1,"At Harlan Community Academy High School, a fig..."
28,"November 8, 2005","Jacksboro, Tennessee",1,2,Campbell County High School shooting: Inside t...
29,"February 23, 2006","Roseburg, Oregon",0,1,"14-year-old freshman Vincent Wayne Leodoro, sh..."
...,...,...,...,...,...
241,"January 25, 2019","Mobile, Alabama",0,2,Two males were wounded after basketball game a...
242,"January 30, 2019","Lithonia, Georgia",0,1,A man running on the Miller Grove High School ...
243,"January 30, 2019","Prairie View, Texas",0,0,Shots were fired at Prairie View A&M Universit...
244,"January 31, 2019","Memphis, Tennessee",0,1,"At Manassas High School, a 14-year-old student..."
245,"January 31, 2019","Humble, Texas",0,1,"Seventeen-year-old Mikael Neciosup, a student ..."
246,"February 8, 2019","Baltimore, Maryland",0,1,A 25-year-old was confronted by an adult staff...
247,"February 12, 2019","Kansas City, Missouri",1,0,During a basketball game at the Central Academ...
248,"February 14, 2019","Rio Rancho, New Mexico",0,0,Sixteen-year-old student Joshua Owen discharge...
249,"February 17, 2019","Arapahoe County, Colorado",1,0,Two adult men in an ongoing dispute about a pa...
250,"February 26, 2019","Montgomery, Alabama",0,1,"At Robert E. Lee High School, a 17-year-old st..."
251,"February 28, 2019","Cheyenne, Wyoming",0,0,A 17-year-old student at Cheyenne South High S...
252,"March 7, 2019","Grambling, Louisiana",0,1,A Grambling State University student was injur...
253,"March 22, 2019","Blounstville, Alabama",0,1,A substitute teacher at Blountsville Elementar...
254,"March 27, 2019","Holmes County, Mississippi",0,1,A 10-year-old student was struck in the hand b...
255,"April 1, 2019","Prescott, Arkansas",0,1,A 14-year-old male student with a concealed we...
256,"April 25, 2019","Texas City, Texas",0,3,"At College of the Mainland, a police cadet stu..."
257,"April 25, 2019","Stone Mountain, Georgia",0,10,At a teen armed with a pellet gun fired at Wyn...
258,"April 30, 2019","Charlotte, North Carolina",2,4,2019 UNCC shooting: A shooter on the Universit...
259,"May 4, 2019","Eugene, Oregon",1,0,A 21-year-old Lane Community College student w...
260,"May 6, 2019","Riverview, Florida",0,0,A person shot through a window of an elementar...
261,"May 7, 2019","Highlands Ranch, Colorado",1,8,STEM School Highlands Ranch shooting: Two shoo...
262,"May 7, 2019","Savannah, Georgia",0,1,A man who was not a student at Savannah State ...
263,"August 8, 2019","Montgomery, Alabama",0,0,"38-year old Isaiah Johnson, dropped his son of..."
264,"August 30, 2019","Mobile, Alabama",0,10,Deangelo Dejuan Parnell shot 9 people during a...
265,"October 13, 2019","Nashville, Tennessee",1,0,A 19-year-old student was found unconscious wi...
266,"October 22, 2019","Santa Rosa, California",0,1,"A 16-year-old student was shot twice, at least..."
267,"November 14, 2019","Santa Clarita, California",3,3,Saugus High School shooting: Five people were ...
268,"November 15, 2019","Pleasantville, New Jersey",1,2,Five men opened fire during a playoff game bet...
269,"November 23, 2019","Union City, California",2,0,"Two boys, aged 11 and 14-years-old were shot i..."
270,"November 27, 2019","Vancouver, Washington",2,1,Tiffany Hill who was fatally shot by her estra...

### Using APIs to get news sources and attempt to parse data
Now that we have the wikipedia data parsed, we want to set up the data scraping from various sources. We will be first using google news and webscraping articles that are at a certain date and do some more analysis.

In [118]:
def parseResp(**params):
    url = "https://www.google.com/search?q={query}&tbs=cdr%3A1%2Ccd_min%3A{month}%2F{from_day}%2F{year}%2Ccd_max%3A{month}%2F{to_day}%2F{year}"
    url = "https://www.google.com/search?pz=1&cf=all&ned=us&hl=en&tbm=nws&gl=us&as_q={query}&as_occt=any&as_drrb=b&as_mindate={month}%2F%{from_day}%2F{year}&as_maxdate={month}%2F{to_day}%2F{year}&tbs=cdr%3A1%2Ccd_min%3A3%2F1%2F13%2Ccd_max%3A3%2F2%2F13&authuser=0"
    response = rq.get(url.format(**params))
    return response

# df: the dataframe that has date, location, injuries, deaths, description of shooting
def googlenews(df):
    for i, row in df.iterrows():
        date = datetime.strptime(row['Date'], '%B %d, %Y')
        resp = parseResp(query = "test", month = date.month, from_day = date.day, to_day = date.day + 1, year = date.year)
        print(resp.json())

googlenews(makeDF(header, body))

AttributeError: 'bytes' object has no attribute 'json'